<div class="footer">
  <div class="card-group m-4">
    <div class="card">
      <div class="card-body text-center">
        <h3>Location</h3>
        <p>Cairo, Helwaan EG</p>
        <p>Hekwaan, ABS 55</p>
      </div>
    </div>
    <div class="card text-white">
      <div class="card-body text-center">
        <h3>Find Me On</h3>
        <div class="icons">
          <i class="fa-brands fa-facebook mx-1 icon"></i>
          <i class="fa-brands fa-twitter mx-1 icon"></i>
          <i class="fa-brands fa-linkedin-in mx-1 icon"></i>
          <i class="fa-solid fa-globe mx-1 icon"></i>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body text-center">
        <h3>About</h3>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
          amet quod esse quis reiciendis, alias corporis est facere minima
          atque.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="copyrights">
  <p class="copyrights-text">Copyright © Assem 2024</p>
</div>
